flask
flask_cors
flask_mail
flask_login
python-dotenv
gunicorn
resend
pillow
pypdf
pypdf2
langchain
langchain-community
langchain-chroma
langchain_experimental
sentence-transformers
docx2txt
openpyxl
tiktoken
torch
transformers